.faq {
    background: $lightBlue;
    min-height: 600px;
    .accordion {
        .card-header {
            background: $darkBlue;
            h2{
                color: $lightAzure;
                font-size: $fontSize2;
            }   
        } 
    }
}

.qna-open{
    opacity: 1;
    max-height: 1000px;
    background: $lightAzure;
}

.qna-close{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}
