.faq {
    background: $lightBlue;
    min-height: 600px;
    .accordion {
        .card-header {
            background: $darkBlue;
            h2{
                color: $lightAzure;
                font-size: $fontSize2;
            }   
        } 
    }
}

.qna-open{
    opacity: 1;
    max-height: 1000px;
    background: $lightAzure;
}

.qna-close{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.create-qna{
    background-image: url('https://cdn.pixabay.com/photo/2021/02/05/18/05/paper-5985445_960_720.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
}
