.about {

    background-image: url('http://localhost:8181/images/about/Bg_Image.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        .row {
            .image_container {
                .about_img {
                    width: 100%;
                }
            }

            .align-self-center {
                .headLine {
                    color: $lightAzure;

                    .about_title {
                        font-size: $fontSize4;
                    }
                    a {
                        text-decoration: none;
                        color: $lightAzure; 
                        &:hover {
                            font-weight: bold;
                        }
                    }
                    
                }
            }
        }
    }
}