.user-project {
  background-color: $darkBlue;
  color: $lightAzure;
  padding: 12px;
  &:hover {
    cursor: pointer;
  }
}
.user-title {
  font-size: $fontSize3;
}

.user-item {
  text-decoration: none;
  color: black;
  padding: 0 12px;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
  }
}
